#todo_input{
    width:98%;
    height:90%;
    vertical-align: middle;    
    border:none;
    font-size: large;
    border-radius: 5px;
}
#input_div{
    width:600px;
    height:50px;
    padding-top: 0;
}
#icon{
    height: 100%;
    width:7%;
    margin-top: 0;
    display:inline-block;
    vertical-align: middle;
}
#inner_div{
    display:inline-block;
    height:100%;
    width: 93%;
    vertical-align: middle;
}
#complete_icon{
    width:30px;
    height:50px;
    margin-left: 5px;
}